{% extends 'main.html' %}

{% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="room-container">      <!--global div used to create a grid-->
    <div>           <!--1st column-->
        <h1>{{room.name}}</h1>
        <p>{{room.description}}</p>

        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for msg in room_messages %}
                <div>
                    <small>@{{msg.user}}  {{msg.created|timesince}} ago</small>
                    <p>{{msg.body}}</p>
                    {% if request.user == msg.user %}
                    <a href="">Modify</a>
                    <a href="{% url 'delete-message' msg.id %}">Delete</a>
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message here...">
            </form>
        </div>
        {% endif %}
    </div>
    <div>       <!--2nd column-->
        <h3>Participants</h3>
        <hr>
        {% for p in participants %}
        <div>
            <p>@{{p.username}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}